/*-- scss:defaults --*/

/* Old theme
$theme-blue: #2096F2;
$theme-orange: #F8A725;
$theme-red: #E91E63;
$theme-green: #00796B;
*/

$theme-grey: #455964;
$theme-blue: #2096F2;
$theme-red: #B35673;

$theme-orange: #EF6024;
$theme-yellow: #F0941F;
$theme-light: #90A19D;
$theme-green: #196774;
$theme-dark: #363432;




/*-- scss:rules --*/

.blue {
	color: $theme-blue;
	font-weight: bold;
}

.orange {
	color: $theme-orange;
	font-weight: bold;
}

.yellow {
	color: $theme-yellow;
	font-weight: bold;
}

.dark {
	color: $theme-dark;
	font-weight: bold;
}

.light {
	color: $theme-light;
	font-weight: bold;
}

.red {
	color: $theme-red;
	font-weight: bold;
}

.green {
	color: $theme-green;
	font-weight: bold;
}

.grey {
	color: $theme-grey;
	font-weight: normal;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.tiny {
	font-size: 26px;
}

.tinier {
	font-size: 22px;
}

.tiniest {
	font-size: 18px;
}
