/*-- scss:defaults --*/
$theme-blue: #2096F2;
$theme-orange: #F8A725;
$theme-red: #E91E63;
$theme-green: #00796B;
$theme-grey: #455964;


/*-- scss:rules --*/

.blue {
	color: $theme-blue;
	font-weight: bold;
}

.orange {
	color: $theme-orange;
	font-weight: bold;
}

.red {
	color: $theme-red;
	font-weight: bold;
}

.green {
	color: $theme-green;
	font-weight: bold;
}

.grey {
	color: $theme-grey;
	font-weight: normal;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}